<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

# Data Science Tools and Ecosystem

##### In this notebook, Data Science Tools and Ecosystem are summarized.

## Objectives:

Below are some of the objectives that were covered in this notebook:

- List the popular programming languages for data science.
- Describe some of the libraries commonly used by data scientists.
- Present three open source tools used in data science.

In [5]:
print("Some of the popular languages that Data Scientists use are:")
list_languages = ["SQL", "Python", "R", "Java", "Julia", "Scala"]
count = 1
for elem in list_languages:
    print(f"{count}. {elem}")
    count += 1

Some of the popular languages that Data Scientists use are:
1. SQL
2. Python
3. R
4. Java
5. Julia
6. Scala

In [6]:
print("Some of the commonly used libraries used by Data Scientists include:")
list = ['NumPy', 'Pandas', 'Matplotlib', 'Scikit-learn', 'TensorFlow', 'Keras', 'PyTorch', 'Seaborn']
count = 1
for elem in list:
    print(f"{count}. {elem}")
    count += 1

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Scikit-learn
5. TensorFlow
6. Keras
7. PyTorch
8. Seaborn

<table>
  <thead>
    <tr>
      <th>Data Science Tools</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Jupyter Notebook</td>
    </tr>
       <tr>
      <td>Spyder</td>
    </tr>
       <tr>
      <td>RStudio</td>
    </tr>

  </tbody>
</table>

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
 ## This a simple arithmetic expression to mutiply then add integers
i = (3*4) + 5
print(i)

17

In [12]:
## This will convert 200 minutes to hours by diving by 60
result = 200 / 60
print("200 minutes are: " + str(round(result, 2)) + " hours")

200 minutes are: 3.33 hours

## Author <br>  Marina Jofre Rodr√≠guez